<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas index</title>
    <th:block th:replace="~{fragments/head :: head}">
    </th:block>
    <link rel="stylesheet" href="stile.css">
</head>

<body>

    <!-- NavBar -->
    <section th:insert="fragments/navbar :: navbar"></section>

    <main class="container">
        <section class="upper row">
            <div class="col-12">
                <h1 class="card-title mb-4 p-4 text-center fw-bold">
                    Editing [[${pizza.name}]]
                </h1>

        </section>

        <section class="create pizza">
            <div class="col-12 text-center">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}">
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <form th:action="@{/pizzas/edit/{id}(id=${pizza.id})}" method="POST" th:object="${pizza}"
                    id="pizza-creation-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input id="name" type="text" class="form-control mb-3" th:field="*{name}"
                            th:errorClass="is-invalid" required>

                        <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="ingredienti" th:each="ingrediente : ${ingredienti}">
                        <input type="checkbox" class="form-check-input" id="'ingrediente-' + ${ingrediente.id}"
                            th:field="${pizza.ingredienti}" th:value="${ingrediente.id}">
                        <label for="ingredienti" class="form-check-label">[[${ingrediente.nome}]]</label>

                    </div>


                    <div class="mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input id="price" type="text" class="form-control mb-3" th:field="*{price}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="img-url" class="form-label">Imge URL:</label>
                        <input id="img-url" type="text" class="form-control mb-3" th:field="*{imgUrl}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('imgUrl')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('imgUrl')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="descrizione" class="form-label">Descrizione:</label>
                        <textarea id="descrizione" class="form-control mb-3" th:field="*{description}" rows="4">
                        </textarea>
                        <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Update pizza</button>
                        <a th:href="@{|/pizzas|}" class="btn btn-warning">Reset</a>

                    </div>
                </form>
            </div>

        </section>



    </main>

    <th:block th:replace="~{fragments/footer :: scripts}">
    </th:block>
</body>

</html>