<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas index</title>
    <th:block th:replace="~{fragments/head :: head}">
    </th:block>
    <link rel="stylesheet" href="stile.css">
</head>

<body>
    <!-- NavBar -->
    <section th:insert="fragments/navbar :: navbar"></section>


    <main class="container">
        <section class="upper row">
            <div class="col-12">
                <h1 class="card-title mb-4 p-4 text-center fw-bold">
                    Editing [[${offerta.titolo}]]
                </h1>

        </section>

        <section class="create offerta">
            <div class="col-12 text-center">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}">
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <form th:action="@{/offerte/edit/{id}(id=${offerta.id})}" method="POST" th:object="${offerta}"
                    id="offerta-creation-form">
                    <div class="mb-3">
                        <label for="titolo" class="form-label">Name:</label>
                        <input id="titolo" type="text" class="form-control mb-3" th:field="*{titolo}"
                            th:errorClass="is-invalid">

                        <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="data" class="form-label">Inizio Offerta</label>
                        <input id="data" type="date" class="form-control mb-3" th:field="*{inizioOfferta}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('inizioOfferta')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('inizioOfferta')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="data" class="form-label">Fine Offerta</label>
                        <input id="data" type="date" class="form-control mb-3" th:field="*{fineOfferta}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('fineOfferta')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('fineOfferta')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>






                    <div class="mb-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Update offerta</button>
                        <a th:href="@{|/offerte|}" class="btn btn-warning">Guarda le offerte</a>

                    </div>
                </form>
            </div>

        </section>



    </main>

    <th:block th:replace="~{fragments/footer :: scripts}">
    </th:block>
</body>

</html>